{
  "*": {
    "Releases": [
      "rk3399t-bookworm",
      "rk3399t-bookworm-test",
      "rk3399-bookworm",
      "rk3399-bookworm-test",
      "op1-bookworm",
      "op1-bookworm-test",
      "rk3399pro-bookworm",
      "rk3399pro-bookworm-test"
    ]
  }
}
